<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem sapiente quisquam adipisci eius nihil animi quas autem labore inventore ad id fugiat neque quos impedit, voluptatem facere, assumenda beatae? </p>

      <form action="" class="row mb-5 mt-5">

        <div class="form-group col-md-5">
          <input type="text" class="form-control shadow-effect" placeholder="Your Name">
        </div>
        <div class="form-group col-md-5">
          <input type="email" class="form-control shadow-effect" placeholder="Email Address">
        </div>

        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
        </div>

      </form>

    </div>
  </div>
</div>
